<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/admin/assets/css/icons/icomoon/styles.css">
  <link rel="stylesheet" href="/admin/assets/css/core.css">
  <link rel="stylesheet" href="/admin/assets/css/components.css">
  <link rel="stylesheet" href="/admin/assets/css/colors.css">
  <link rel="stylesheet" href="/admin/assets/css/bootstrap.css">

  <title>Блог</title>
</head>
<body>
    <script src="/admin/assets/js/core/libraries/jquery.min.js"></script>
    <script src="/admin/assets/js/core/libraries/bootstrap.min.js"></script>
   <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
   {{--  @include('includes/admin')  --}}
 <div class="container">
    @!section('content')
    <script src="/admin/assets/js/plugins/loaders/pace.min.js"></script>
    <script src="/admin/assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="/admin/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/admin/assets/js/core/app.js"></script>

  </div>
     
 
  @include('components/modal')

</body>
</html>
